################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Veri_Tabanli_Parti_Secim_Grafik_Istatistik.sln
